
$color-primary: #2571a3;
$color-white: #FFFFFF;
$color-black: #000000;
$color-success: #44b29d;
$color-warning: #f5b041;
$color-danger: #ec7062;
$color-info: #99a3a4;
$color-text-primary: #303133;
$color-text-regular: #606266;
$background-color-base: #f5f7fa;


